<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{ userProvider.userLoggedIn }}</h3>


  <h2>Todo list</h2>

    <div *ngIf="userProvider.getItemResult">
      {{ userProvider.getItemResult[0].item }}
    <h5 *ngFor="let x of userProvider.getItemResult; let i = index">
     {{ i+1 }} {{ x.item }}
     <a id="delItem" (click)='userProvider.delItem(x.id)'>&#x2716;</a>
    </h5>
  </div>
  
  <button ion-button secondary (click)="onGetItems()">Get item</button>
</ion-content>
